
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$Angular-Codebridge-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$chartreuse-palette,
  ),
  density: (
    scale: 0,
  )
));

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
    tertiary: mat.$spring-green-palette,
  ),

));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$spring-green-palette,
  ),

));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($Angular-Codebridge-theme);
  // Apply the light theme by default
  @include mat.core-theme($light-theme);
  @include mat.button-theme($light-theme);

  // Apply the dark theme only when the user prefers dark themes.
  @media (prefers-color-scheme: dark) {
    @include mat.core-color($dark-theme);
    @include mat.button-color($dark-theme);
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Angular_Codebridge-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Angular_Codebridge-theme);
/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.home-card {
  max-width: 30%;
  margin: 5%;
}

mat-form-field {
  width: 100%;
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
  .home-card {
    max-width: 90%;
  }

  .home-form-field {
    max-width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
  .home-card {
    max-width: 80%;
  }

  .home-form-field {
    max-width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    margin: auto;
    width: 95%;
  }
  
  .home-card {
    max-width: 40%;
  }

  .home-form-field {
    max-width: 70%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
      margin: auto;
      width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
      margin: auto ;
      width: 85%;
  }
}

@media only screen and (min-width: 1800px) {
  body {
      margin: auto ;
      width: 80%;
  }
}


