<p>Filter by keywords</p>
<!-- search bar -->

<!-- count of articles after filer -->

<mat-divider></mat-divider>

<div *ngFor="let article of articles?.results">

    <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>{{article.published_at}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="article.image_url" [alt]="article.title">
        <mat-card-content>
          <p>
            {{article.summary}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="[ article.id ]">Read more...</a>
        </mat-card-actions>
      </mat-card>
</div>